<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyinghua.dao.ArticleMapper">
	<resultMap type="com.liyinghua.entity.Article" id="articleMap">
			<id column="id" property="id"/>
			<result column=" title" property="title"/>
			<result column=" content" property="content"/>
			<result column=" picture" property="picture"/>
			<result column=" channel_id" property="channelId"/>
			<result column=" category_id" property="categoryId"/>
			<result column=" user_id" property="userId"/>
			<result column=" created" property="created"/>
			<result column=" hits" property="hits"/>
			<result column=" hot" property="hot"/>
			<result column=" status" property="status"/>
			<result column=" deleted" property="deleted"/>
			<result column=" updated" property="updated"/>
			<result column=" commentCnt" property="commentCnt"/>
			<result property="articleType" column="articleType" 
		    typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
			jdbcType="INTEGER" javaType="com.liyinghua.entity.TypeEnum"
		    />
			<association property="user" column="user_id" select="com.liyinghua.dao.UserMapper.getUserById"></association> 
			<association property="channel" column="channel_id" select="com.liyinghua.dao.ChannelMapper.findById"></association> 
			<association property="category" column="category_id" select="com.liyinghua.dao.CategoryMapper.findById"></association>     
	</resultMap> 
	<resultMap type="com.liyinghua.entity.Review" id="reviewMap">
		<id column="id" property="id"/>  
		<result column="articleId" property="articleId"/>
		<result column="userId"    property="userId"/>
		<result column="content"   property="content"/>
		<result column="created"   property="created"/>
		<association property="user" column="userId" select="com.liyinghua.dao.UserMapper.getUserById"></association> 
		<association property="article" column="articleId" select="com.liyinghua.dao.ArticleMapper.findById"></association> 
	</resultMap>               
	<select id="getArticleByChannelId" resultMap="articleMap">
		select a.*,b.username,b.id as uid from cms_article a left join cms_user b on a.user_id=b.id
		 <where>
		 	<if test="channelId!=null and channelId!=''">
		 		a.channel_id=#{channelId}
		 	</if>
		 </where> and a.deleted=0 and a.status=1 Limit 10;
	</select> 
	<select id="getArticleBychannelIdAndByCategoryId" resultMap="articleMap">
		select a.*,b.username,b.id as uid from cms_article a left join cms_user b on a.user_id=b.id
		 <where>
		 	<if test="channelId!=null and channelId!=''">
		 		a.channel_id=#{channelId}
		 	</if>
		 	<if test="categoryId!=null and categoryId!=''">
		 		and a.category_id=#{categoryId}
		 	</if>
		 </where> and a.deleted=0 and a.status=1  Limit 10 ;
	</select>   
	<select id="getArticleById" resultMap="articleMap">
		select a.*,b.username,b.id as uid from cms_article a left join cms_user b on a.user_id=b.id where a.id=#{articleId}
	</select>  
	<select id="getUserNewsList" resultMap="articleMap">
		select a.*,b.username,b.id as uid from cms_article a left join cms_user b on a.user_id=b.id where a.deleted=0
	</select>    
	<update id="delNews">
		update  cms_article set  deleted=1 where id=${articleId} 
	</update>	
	<select id="getUserNewsByHot" resultMap="articleMap">
		select a.*,b.username,b.id as uid from cms_article a left join cms_user b on a.user_id=b.id where hot=1 and a.id=${articleId}
	</select>    
	<update id="setHot">
		update  cms_article set  hot=${status} where id=${articleId} 
	</update> 
	<update id="apply">
		update  cms_article set  status=#{status} where id=${id} 
	</update>  
	<select id="minId" resultType="Integer">
		SELECT MIN(id) FROM cms_article 
	</select>
	<select id="maxId" resultType="Integer">
		SELECT MAX(id) FROM cms_article 
	</select>
	<select id="getUserNewsListByUserId" resultMap="articleMap">
		select a.*,b.username,b.id as uid from cms_article a left join cms_user b on a.user_id=b.id where a.deleted=0 and b.id=#{id}
	</select>
	<select id="getReview" resultMap="reviewMap">
		select * from cms_comment where articleId=#{articleId}
	</select>
	
	<select id="findById" resultMap="articleMap">
		SELECT * FROM cms_article WHERE id=${value}
	</select>
	<select id="getReviewsNum" resultType="int">
		SELECT COUNT(cms_comment.id) from cms_comment where articleId=${id}
	</select>
	<!-- 获取图片文章 -->
	<select id="getImgArticles" resultMap="articleMap" >
		SELECT id,title,picture,channel_id,category_id,user_id,hits,commentCnt,created,articleType
			FROM cms_article 
			WHERE deleted=0 AND status=1 AND articleType=1
			ORDER BY created DESC 
			LIMIT #{value}
	</select>
</mapper>