<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyinghua.dao.UserMapper">
	<select id="getUsersList" resultType="com.liyinghua.entity.User">
		select * from cms_user 
		<where>
			<if test="mohu!=null and mohu!=''">
				 username like '%${mohu}%'
			</if>
		</where>
	</select>
	<select id="getUserById" resultType="com.liyinghua.entity.User">
		select * from cms_user  where id=#{id} 
	</select>
	<select id="findByName" resultType="com.liyinghua.entity.User">
		select * from cms_user where username=#{username}
		<if test="role!=null and role!=''">
			and role=#{role}
		</if>
		 limit 1
	</select>
	<insert id="add">
		INSERT INTO cms_user(username,password,nickname,birthday
                           ,gender,locked,createTime,updateTime,url,score,role) 
		      values(#{username},#{password},#{nickname},#{birthday},
		       #{gender},0,now(),now(),'',0,#{role}) 
	</insert>
</mapper>
